body {
    font-family:'Courier New', Courier, monospace sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
    background-color: rgb(0, 0, 0);
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 1;
}

.header-icon {
    height: 40px;
    width: 40px;
    display: flex;
    flex: 0 1 auto;
    background-color: white;
    border-radius: 50%;
}

.header-links, 
a {
    border: 0;
    list-style: none;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.pick-a-option {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.options-wrapper {
    display: flex;
    gap: 60px;
    margin: auto;
    justify-content: space-between;
    width: 440px;
    flex: 1 1 auto;
}

.options-wrapper .option {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    background-color: white;
}

/* hr */
.after-choice { 
    display: flex;
    flex: 1;
    margin: 20px auto;
    width: 600px;
    height: 2px;
    border-style: solid;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
}

.result {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    margin: 60px auto;
    justify-content: space-between;
    width: 600px;
    gap: 80px;
}

/* tamanho da imagem */
.result .computer,
.result .human  {
    width: 80px;
    height: 80px;
    flex: 0 1 auto;
}

.result hr {
    width: 4px;
    height: auto;
    border-radius: 12px;
    border-style: solid black;
    background-color: black;
}

.result p {
    font-size: 40px;
}

.score {
    font-size: 50px;
    justify-self: center;
    align-self: center;
    flex: 0 1 auto;
    color: rgb(0, 0, 0);
    font-weight: 600;
}